@font-face {
  font-family: swty;
  src: url('./assets/fonts/Starjedi.ttf');
}

@font-face {
  font-family: roboto;
  src: url('./assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: roboto-condensed;
  src: url('./assets/fonts/Roboto-Condensed.ttf');
}

html {
  background-color: black;

  color: rgb(248, 248, 122);
  font-family: swty;
}

a {
  color: rgb(255, 255, 145);
  text-decoration: none;
}

a:visited {
  -webkit-text-stroke: 1px #000000;
}

a:hover {
  color: yellow;
  transition: color 0.5s;
}

ul {
  list-style: none;
}
